<template>
    <div>
        <p>Component B</p>
        <p>{{ username }}</p>
        <p>{{ password }}</p>
        <component-c />
    </div>
</template>

<script>
import ComponentC from './ComponentC.vue';
export default {
    name:"ComponentB.vue"
    inject:['username','password'],
    components: {
        ComponentC,
        },
    }
</script>