<template>
    <div>
        <p>Main menu Component</p>
        <P><input type="text" v-model="name"></P>
        <button @click="emit('closeMenu','John Doe')">"closeMenu"</button>
    </div>
</template>

<script>
export default {
        name: 'MainMenu',
        // emits:['closeMenu'],
        emits: {
            closeMenu() {
                if (name) {
                    return false
                } else {
                    return true
                }
            }
        },
        data() {
            return {
                name: ''
            }
        },

    }
</script>