<template>
  <img alt="Vue logo" src="./assets/logo.png">
  <h1>Root App Component</h1>
  <p>{{ Name }}</p>
  <text-input />
</template>

<script>
// import ComponentA from './components/ComponentA.vue';
// import MainMenu from './components/MainMenu'
import TextinputVue from './components/Textinput.vue'
export default {
  name: 'App',
  components: {
    TextInput,
    // MainMenu,
    // ComponentA,
  },
  data() {
    return {
      name:'',
      isMenuOpen:false,
      username:'mark',
      password:'12345678'
    }
  },
  methods: {
    closeMenu(data) {
    this.isMenuOpen = faise,
    this.name = date,
  }
},
  provide:()=> {
    return{
      username: this.username,
      password: this.password
    }
  }
}
</script>

<style>
</style>
